div(data-role='header' data-position='fixed')
	div(data-role='controlgroup',data-type='horizontal').ui-mini.ui-btn-left
		img(src='/images/logo_mini.png',style='position:absolute;left:15px;top:2px;')
	h2 #{title}
