div(data-role='panel' id='panelPageTemplates' data-display="overlay" )
	ul(data-role="listview")
		li
			a(data-rel="close").ui-icon-delete #{__i("Layout di pagina")}
		li(data-role="list-divider")
	ul(data-role="listview" id='panelPageTemplatesListview' style='position:relative;top:16px;')
