extends layout
block content
	div(data-role='page' id='page-home' data-url='/')
		include includes/appHeaderFull
		div(role='main').ui-content.sbamMainContainer
			//div(id="sbam")
		include includes/appFooter

