






/* GENERICI */


.bgDark {
	background-color:rgba(51, 136, 204, 0.298039) !important;
}
.bgMoreDark,
.bgDark:hover {
	background-color:rgba(0, 85, 153, 0.298039) !important;
}
.bgGreen {
	background-color:#ddffdd !important;
}
.fgGreen {
	color:#009900 !important;
}
.bgRed {
	background-color:#ffdddd !important; 
}
.vertScrollable {
	overflow: auto;
	overflow-x: hidden;
	-ms-overflow-x: hidden;
}
#empty-media p {
	margin-top:0px;
	margin-bottom:0px;
}
.notTruncable {
	white-space: normal !important;
	word-wrap:break-word;
	overflow-wrap: break-word;
}
.notInteractive {
	pointer-events: none;
}
.noBackgroundImage {
	background-image:none;
}
.noBackgroundColor {
	background-color:transparent !important;
}








/* UN PO' MENO GENERICI */

body,
#page-home
{
	overflow: hidden;
}
#page-login,
#page-admin,
#page-home {
	background-image:url('/images/appbg.png');
	background-attachment: fixed;
}
#page-home .sbamMainContainer {
	position:fixed;
	overflow: hidden;
}
#page-login,
#page-admin {
	margin:0px !important;
	padding:0px !important;
	height: 100%;
}

#leftPageCont,
#rightPageCont
{
	box-shadow: 0px 2px 30px 2px #666; 
}
#leftPageToolbar .ui-btn,
#rightPageToolbar .ui-btn
{
	margin:0px;
}

.elementText,
.elementSticker,
.elementPagenum,
.elementImage
{
	/*background-color: rgba(0,0,0,0.15) !important;*/
}
.elementImage
{
	background-image:url('/javascripts/jqmobile/images/icons-svg/camera-white.svg');
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: center;
	cursor:pointer;
}
.dragCursor
{
	cursor:move;
}
.loadingUiBlocker {
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.5);
	position: fixed;
	z-index:1000000;
	display:none;
}

.elementText:hover,
.elementSticker:hover,
.elementPagenum:hover,
.elementImage:hover,
.elementSelected
{
	/*background-color: rgba(0,0,0,0.3) !important;*/
	outline: 3px dashed rgba(51,136,204,1);
}
.elementImage,
.elementText {
	overflow:hidden;position:relative; 
}
.elementImage img {
	position:absolute;
}

.ui-navbar ul li {
	overflow:hidden;
}
.elementToolbox .ui-navbar ul li a {
	padding-top: 10px;
	padding-bottom: 23px;
	font-size: 8px;
}

.elementTextToolbox fieldset.ui-controlgroup {
	margin:0px;
}
.elementToolbox {
	border:none !important;
}
.elementEffectsToolbox .ui-controlgroup-controls label {
	margin:0px !important;
}
.elementEffectsToolbox {
	padding:0px !important;
	margin:0px !important;
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
	width:100%;
	max-height: 140px;
	border-radius: 0;
	display:none;
	position:absolute;
	left:0px;
    border-radius: 0;
    background-color: #fff;
    padding: 10px;
	box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 12px 0px;
}
.elementTextToolbox{
	min-width: 250px;
	display:none;
	position:absolute;
	background-color: #fff;
	z-index:100;
	box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 12px 0px;
}
.elementImageToolboxZoomContainer {
	width:100%;
	min-width: 280px;
}
.elementImageToolboxZoomContainer .ui-icon-search-minus,
.elementImageToolboxZoomContainer .ui-icon-search-plus
{
	background-color: transparent !important;
	border:none !important;
	margin:0 !important;
	cursor:inherit;
}
.elementImageLowresIcon {
	background-image:url('/javascripts/jqmobile/images/icons-svg/alert-white.svg');
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: center;
	background-color: rgba(255,0,0,0.5);
	border-radius: 25px;
	position:absolute;
	top:5px;
	left:5px;
	width:25px;
	height:25px;
	display:none;
}
/*
.elementImageToolboxSlider {
	
	width:0 !important;
	height:0 !important;
	display:none !important;
}
*/
.elementTextContent {
	width: 100%;
	height: 100%;
}
.elementLocked {
	outline:none !important;
	cursor:default;
	text-decoration:none;
}
.elementStickerLayoutGrid {
	border-top:1px dashed rgba(255,255,255,0.5);
	border-left:1px dashed rgba(255,255,255,0.5);
	position:absolute;
	margin:0;
	padding:0;
}
.elementStickerLayoutGridFirsRow {
	border-top:none;
}
.elementStickerLayoutGridFirsCol {
	border-left:none;
}

.templateItem {
	width:76px;
	height:76px;
	margin:0px !important;
	padding:0px !important;
	float:left;
}
.templateItem .ui-btn img,
.templateItem .ui-btn {
	padding: 0 !important;
	margin: 0 !important;
	border: none !important;
}
.templateItem .ui-btn {
	width:60px;
	height:60px;
	padding-left:8px !important;
	padding-right:8px !important;
	padding-top:8px !important;
	padding-bottom:8px !important;
}
#prevPageButton,
#nextPageButton {
	height:90px;
}
.toolboxNavItem span {
	display: block;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	padding-top: 2px;
}
.toolboxNavItem .ui-btn span {
	font-size: 12px;
	line-height: 16px;
}
.toolboxNavItem .ui-btn {
	padding-top: 8px;
	padding-bottom: 7px;
}
.fontAlignItem {
	padding: 5px;
	background-color: #acacac;
	border-radius:5px;
}
#presetFieldset {
	max-height:130px;
}
.projectItem a.ui-btn {
	min-height: 80px !important;
	padding: 0px !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	padding-left: 95px !important;
	padding-right: 20px !important;
	margin: 0px !important;
}
.projectItem img {
	position: absolute !important;
	top:5px !important;
	left:5px !important;
}
.projectItem h2 {
	padding:0px !important;
	margin:0px !important;
}
#popupOrderProject {
	max-width:900px;
}
.orderQtyInputCont {
	width: 60px !important;
}
.orderItemSmall {
	font-weight: bold;
	font-size: 12px;
}
.orderItemBig {
	font-weight: bold;
	font-size: 18px;
}
#panelPageTemplates {
	background-color: rgb(246,246,246);
}
#panelPageTemplatesListview {
	width: 256px;
	padding:0px !important;
	margin:0px !important;
}
.usedImageIcon {
	background-image:url('/javascripts/jqmobile/images/icons-svg/check-white.svg');
	background-repeat: no-repeat;
	background-size: 10px;
	background-position: center;
	background-color: rgba(64,128,64,0.75);
	border-radius: 25px;
	position:absolute;
	top:2px;
	left:103px;
	width:15px;
	height:15px;
}
.pageItemButtonMoveUp,
.pageItemButtonMoveDown {
	display:none;
	cursor:pointer;
	background-image:url('/javascripts/jqmobile/images/icons-svg/carat-u-white.svg');
	background-repeat: no-repeat;
	background-size: 10px;
	background-position: center;
	background-color: rgba(200,200,200,0.75);
	border-radius: 25px;
	position:absolute;
	top:11px;
	left:5px;
	width:15px;
	height:15px;
}
.pageItemButtonMoveDown {
	background-image:url('/javascripts/jqmobile/images/icons-svg/carat-d-white.svg');
	top:29px;
}
.pageItemButtonMoveUp:hover,
.pageItemButtonMoveDown:hover {
	background-color: rgba(64,128,64,0.75);
}
.uploaderProgressBarBg,
.uploaderProgressBar {
	position:relative;
	top:-8px;
	background-color: #38c;
	width: 10px;
	height: 8px;
	margin: 1px;
	margin-top: 4px;
}
.uploaderProgressBarBg {
	top:4px;
	background-color: #ddd;
}
.uploaderProgressBarLabel {
	font-size: 11px;
	font-weight: bold;
}
#buttonMediaWaiter:hover {
	color:black;
}
#buttonMediaWaiter {
	display:none;
	background-image:url('/images/clockanim.gif');
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: 5px 5px;
	background-color:white;
	color:grey;
	height:24px;
	padding:1px;
	padding-left:36px;
	padding-top:6px;
	padding-right:8px;
	margin:0px;
}













/* MODIFICO ROBA GIA ESISTENTE */


.ui-btn-left, .ui-btn-right {
	top:0px !important;
}
.ui-btn-right {
	right:0px !important;
}
.ui-btn-left {
	left:0px !important;
}
.ui-controlgroup-controls {
	border-bottom-left-radius:0 !important;
	border-bottom-right-radius:0 !important;
	border-top-left-radius:0 !important;
	border-top-right-radius:0 !important;
}
.ui-controlgroup-controls .ui-btn-icon-notext {
	padding: 9px 8px !important;
}

.ui-slider-input {
	width:0 !important;
	height:0 !important;
	display:none !important;
}
.ui-slider-track,
.ui-slider.ui-mini
{
	margin:0px !important;
}
.ui-select.ui-mini {
	margin: 0px !important;
	padding: 0px !important;
	
	/*height: 20px;*/
}
.ui-shadow {
	box-shadow: none !important;
	border-radius:0 !important;
}


.sliderBackColor {
    height: 100%;
    width: 33.33%;    
    float: left;
    color: white;
    text-align: center;
    font-size: 10px;
    font-weight: normal;
    text-shadow: 0px 1px 2px #333;
	position:absolute;
}
.sbcGreen {
	background-color: rgba(0,255,0,0.3);
	left:0%;
	width:60%;
}
.sbcOrange {
	background-color: rgba(255,128,0,0.3);
	left:60%;
	width:25%;
}
.sbcRed {
	background-color: rgba(255,0,0,0.3);
	left:85%;
	width:15%;
}
.elementImageToolboxZoomContainer .ui-slider-bg {
	background-color: rgba(0,0,0,0.7) !important;
}
/*
.ui-slider-track > div.sliderBackColor:first-child{
    border-top-left-radius: 0.3125em;
    border-bottom-left-radius: 0.3125em;
}
.ui-slider-track > div.sliderBackColor:last-of-type{
    border-top-right-radius: 0.3125em;
    border-bottom-right-radius: 0.3125em;   
}
*/


















/* ADMIN SPECIFICS */

#page-admin > div.ui-content {
	margin:0px !important;
	padding:0px !important;
}

#page-admin > div.ui-content #mainContent {
	margin:0px !important;
	padding:40px !important;
}





