


#page-home {
	background-image:url('/images/appbg.png');
	background-attachment: fixed;
}

#page-home .sbamMainContainer {
	position:fixed;
}

#leftPageCont,
#rightPageCont
{
	box-shadow: 0px 2px 10px 2px #333333; 
}

.elementText:hover,
.elementSticker:hover,
.elementPagenum:hover,
.elementImage:hover
{
	background-color: #eee !important;
}
.elementImage {
	overflow:hidden;position:relative; 
}
.elementImage img {
	position:absolute;
}
.elementImageToolbox {
	border:none !important;
}
.elementImageToolboxAnchor {
	position:absolute;
}
.elementImageToolboxZoomContainer {
	width:100%;
}
.elementImageToolboxZoomContainer .ui-icon-search-minus,
.elementImageToolboxZoomContainer .ui-icon-search-plus
{
	background-color: transparent !important;
	border:none !important;
	margin:0 !important;
	cursor:inherit;
}
/*
.elementImageToolboxSlider {
	
	width:0 !important;
	height:0 !important;
	display:none !important;
}
*/
.ui-btn-left, .ui-btn-right {
	top:0px !important;
}
.ui-btn-right {
	right:0px !important;
}
.ui-btn-left {
	left:0px !important;
}
.ui-controlgroup-controls {
	border-bottom-left-radius:0 !important;
	border-bottom-right-radius:0 !important;
	border-top-left-radius:0 !important;
	border-top-right-radius:0 !important;
}

.ui-slider-input {
	width:0 !important;
	height:0 !important;
	display:none !important;
}
.ui-slider-track,
.ui-slider.ui-mini
{
	margin:0px !important;
}

.ui-navbar ul li {
	overflow:hidden;
}